// Fonts

$logo: 200 14px 'Crimson Pro', serif;
$nav: 500 18px 'Montserrat', sans-serif;
$active-nav: 700 18px 'Montserrat', sans-serif;
$footer: 500 14px 'Montserrat', sans-serif;
$footer-link: 700 14px 'Montserrat', sans-serif;

$title: 500 48px 'Lora', serif;
$title-mobile: 500 36px 'Lora', serif;

$subtitle: 700 24px 'Lora', serif;
$subtitle-mobile: 700 28px 'Lora', serif;

$copy: 400 24px 'Montserrat', sans-serif;
$copy-mobile: 400 14px 'Montserrat', sans-serif;

$link: 700 18px 'Montserrat', sans-serif;
$link-mobile: 700 14px 'Montserrat', sans-serif;

$copy-sm: 500 14px 'Montserrat', sans-serif;
$copy-xs: 500 12px 'Montserrat', sans-serif;
$copy-xxs: 500 10px 'Montserrat', sans-serif;
