@import 'mixins';
@import 'variables';

.container {
	min-height: 60vh;
	margin: 150px 77px;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.copyContainer {
		flex: 1;

		.copy {
			width: 85%;
			color: white;

			h2 {
				font: $title;
				margin-bottom: 40px;
			}

			.mainCopy {
				font: $copy;
				margin-bottom: 48px;
			}

			button {
				cursor: pointer;
				padding: 0;
				color: white;
				background: none;
				border: none;
				display: flex;
				align-items: center;

				p {
					font: $link;
					margin-right: 14px;
				}
			}
		}
	}

	.image {
		width: 60%;
		max-width: 737px;
	}
}
